* {
  margin: 0;
  font-family: Courier;
}

.app-title-wrapper {
  padding: 40px 20px;
}

h1.app-title {
  text-align: center;
  font-size: 50px;
}

body {
  background: #a39175;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.left {
    float: left;
    transition: all 300ms;
}

.right {
  float: right;
  transition: all 300ms;
}

.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
  color: #797979;
}

.left:hover, .right:hover {
  color: #797979;
}
