h2.title {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  padding: 10px 10px;
}

.local-link {
  color: white;
  text-decoration: none;
}

.local-link:hover {
  color: #797979;
}

p.subtitle {
  text-align: center;
  font-size: 12px;
  padding-bottom: 30px;
}

.story-header-wrapper {

}

.story-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  height: 200px;
  position: relative;
}

.story-header-image {
  border: 1px solid #fff;
  box-shadow: 1px 2px 6px #000;
  height: 100%;
  width: 235px;
}

.story-body-container {
  display: flex;
  flex-direction: row;
}


.story-body-wrapper {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 75px;
}

p.story-body {
  font-size: 16px;
}

p.story-body-bold {
  font-size: 16px;
  font-weight: bold;
}
